---
title: Motorcycle Club
description: Informations and events from our Motorcycle Club
permalink: /
---
<div class="home"> 
    {% capture site_lang %}
    {{ site.lang | default: "it" }}
    {% endcapture %} 
    {% assign posts=site.posts | where:"lang", page.lang %} 
    <ul class="post-list"> 
        {% for post in posts %} 
          {% capture lang %}
            {% if post.lang != site_lang %}
              {{ post.lang }}
            {% else %}
              {{ site_lang }}
            {% endif %}
          {% endcapture %} 
        <li {% if lang !=empty %} lang="{{ lang }}" {% endif %}>
            <header class="post-header">
                <h1 class="post-title"> 
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                        {% if post.external-url %} &rarr;
                        {% endif %}
                    </a> 
                </h1>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
                    {% if post.tags != empty %} • {% for tag in
                    post.tags %} {{ tag }} • {% endfor %}{% endif %}</p>
            </header>
            <div class="post-content"> 
                {{ post.excerpt }} 
            </div> 
            {% if post.content contains site.excerpt_separator %}
            <p class="post-continue"> 
                <a href="{{ post.url | relative_url }}">Leggi &rarr;</a> 
            </p> {% endif %} </li>
        {% endfor %}
    </ul>
    {% include pagination.html %} 
</div>